#customize-control-spice_popup_login_fontfamily,#customize-control-spice_popup_login_fontsize,#customize-control-spice_popup_login_lheight,#customize-control-spice_popup_login_fontweight,#customize-control-spice_popup_login_fontstyle,#customize-control-spice_popup_login_transform,#customize-control-spice_popup_login_headings_fontfamily,#customize-control-spice_popup_login_headings_fontsize,#customize-control-spice_popup_login_headings_lheight,#customize-control-spice_popup_login_headings_fontweight,#customize-control-spice_popup_login_headings_fontstyle,#customize-control-spice_popup_login_headings_transform,#customize-control-spice_popup_login_title_fontfamily,#customize-control-spice_popup_login_title_fontsize,#customize-control-spice_popup_login_title_lheight,#customize-control-spice_popup_login_title_fontweight,#customize-control-spice_popup_login_title_fontstyle,#customize-control-spice_popup_login_title_transform,#customize-control-spice_popup_login_label_fontfamily,#customize-control-spice_popup_login_label_fontsize,#customize-control-spice_popup_login_label_lheight,#customize-control-spice_popup_login_label_fontweight,#customize-control-spice_popup_login_label_fontstyle,#customize-control-spice_popup_login_label_transform,#customize-control-spice_popup_login_txt_fontfamily,#customize-control-spice_popup_login_txt_fontsize,#customize-control-spice_popup_login_txt_lheight,#customize-control-spice_popup_login_txt_fontweight,#customize-control-spice_popup_login_txt_fontstyle,#customize-control-spice_popup_login_txt_transform,#customize-control-spice_popup_login_btn_fontfamily,#customize-control-spice_popup_login_btn_fontsize,#customize-control-spice_popup_login_btn_lheight,#customize-control-spice_popup_login_btn_fontweight,#customize-control-spice_popup_login_btn_fontstyle,#customize-control-spice_popup_login_btn_transform,#customize-control-spice_popup_login_btn_error_fontfamily,#customize-control-spice_popup_login_btn_error_fontsize,#customize-control-spice_popup_login_btn_error_lheight,#customize-control-spice_popup_login_btn_error_fontweight,#customize-control-spice_popup_login_btn_error_fontstyle,#customize-control-spice_popup_login_btn_error_transform
{
    width: 48%;clear: none;padding-right: 5px;
}

#customize-control-spice_popup_login_form,#customize-control-spice_popup_register_form,#customize-control-spice_popup_login_heading_typo,#customize-control-spice_popup_login_title_heading
{
    background: #ccc;margin-top: 20px;text-align: center;
}

#customize-control-spice_popup_login_form h3,#customize-control-spice_popup_register_form h3,#customize-control-spice_popup_login_heading_typo h3,#customize-control-spice_popup_login_title_heading h3
{
color: #6a6969;
}