form.spice-popup-login-form{
    display: none;
    z-index: 99999;
    position: fixed;
    top: 150px;
    left: 50%;
    width: 371px;
    margin-left: -186px;
    padding: 40px 25px 25px 25px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    color: #878787;
    font-size: 11px;
}

#spice_popup_login_id .spice-popup-login-form h2, #spice_popup_login_id .spice-popup-login-form h3{
    color: #333333;    
    line-height: 1;    
}

#spice_popup_login_id .spice-popup-login-form h2{
    font-size: 27px;
    text-align: center;
    margin: 0 0 20px 0;
    font-weight: 600;
}

#spice_popup_login_id .spice-popup-login-form h3{
    font-size: 18px;
    text-align: left;
    margin: 0;
    font-weight: 500;
}

#spice_popup_login_id .spice-popup-login-form h3 a{
    color: #e25c4c;
}

.spice-popup-login-form hr {
    background-color: rgba(0, 0, 0, 0.1);
    border: 0 none;
    height: 1px;
    margin: 20px 0;
}

.spice-popup-login-form input#username,
.spice-popup-login-form input#password,
.spice-popup-login-form input#signonname,
.spice-popup-login-form input#email,
.spice-popup-login-form input#signonpassword,
.spice-popup-login-form input#password2{
    border: 1px solid #EDEDED !important;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) inset;
    color: #333333 !important;
    font-size: 15px;
    padding: 10px 10px 10px 13px;
    width: 325px;
    margin: 7px 0 20px 0;
    background-color: #F9F9F9 !important;
}

.spice-popup-login-form input#username:focus,
.spice-popup-login-form input#password:focus,
.spice-popup-login-form input#signonname:focus,
.spice-popup-login-form input#email:focus,
.spice-popup-login-form input#signonpassword:focus,
.spice-popup-login-form input#password2:focus{
    background-color: #FFF;
}

.spice-popup-login-form label.error{
    display: none !important;
}

.spice-popup-login-form input.error{
    border: 1px solid #FF0000 !important;
}

.spice-popup-login-form input.spice_popup_submit_button , .spice-popup-login-form input.spice_popup_submit_button:hover{
    font-size: 13px;
    color: #FFF;
    border: 1px solid #b34336;
    background-color: #e25c4c;
    border-radius: 3px;
    text-shadow: 0 1px 0 #ba3f31;
    padding: 9px 31px 9px 31px;
    background: -moz-linear-gradient(top, #ea6656, #df5949);
    border-top: 1px solid #bb483a;
    border-bottom: 1px solid #a63b2e;
    float: right;
    box-shadow: 0 1px 0 #E87A6E inset;
}

.spice-popup-login-form a{
    text-decoration: none;
}

.spice-popup-login-form a.close{
    color: #707070;
    position: absolute;
    right: 15px;
    top: 15px;
}

.spice-popup-login-form a.spice-popup-lostpassword{
    color: #e25c4c;
    float: left;
    margin: 10px 0 0 0;
}

.spice-popup-login-form p.status{
    text-align: center;
    margin: -15px 0 20px 0;
    font-weight: 600;
    display: none;
}

a.login_button{
    padding: 5px 7px 5px 7px;
    border-radius: 3px;
    color: #333;
    text-decoration: none;
    font-size: 11px;
}

.login_overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.75);
    position: fixed;
    z-index: 9999;
}
body .spice-popup-login-form label
{
    font-size: 14px;
    font-weight: 400;
    color: #464040;
}
.spice-popup-login-form .status
{
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
}
.spice-popup-login-form #statuserror
{
   color: #ff0000; 
}
.spice-popup-login-form #statussuccess
{
   color: #00c774; 
}